{% extends 'layouts/nav.html' %}

{% block content %}

<h1>Tasks</h1>

{% for task in tasks %}

<div>
    {# note: Esta es una tarea #}
    <h1>
        {% if task.done == False %} ⚠️ {% else %} ✅ {% endif %} {{task.title}}
    </h1>

    <!-- {% if task.done == False %}
    <p>Tarea pendiente</p>
    {% else %}
    <p>Tarea realizada</p>
    {% endif %} -->
    

    <p>Description: {{task.description}}</p>
    <button>
        delete
    </button>
    <button>
        ✅ Done
    </button>
</div>

{% endfor %}

{% endblock %}